* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --red: #B90000;
  --gray: #1A1A1A;
  --black: #000;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  flex: 1
}

input {
  width: 18em;
  height: 3em;
  border-radius: 4px;
  border: 2px solid var(--red);
  background: none;
  color: white;
  outline: none;
  padding-left: 1rem;
}

.btn {
  width: 18em;
  height: 3em;
  background-color: var(--red);
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

label{
  color: white;
}

th{
  color: white;
}

td{
  color: white;
}

body {
  background: var(--gray);
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

select{
  width: 18em;
  height: 3em;
  color: white;
  background: #2F2F2F;
  border: none;
  padding-left: 1rem;
}

footer {
  width: 100%;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
  font-size: 1em;
  font-weight: 400;
  color: white;
  background: linear-gradient(180deg, rgba(31, 31, 31, 0.26) 0%, var(--black) 100%);
}
