.Form{
  width: 10em;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn{
  background: none;
  border: none;
  cursor: pointer;
}